* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

html {
    font-size: 62.5%;
    font-family: "Poppins", "Sans-serif";
}

body {
    background: var(--primary-color);
    height: 10000px;
}

input,
textarea,
select,
button {
    font-family: inherit;
    font-size: inherit;
}

:root {
    --heading-font: "Sora";
    --primary-color: #fffaf5;
    --secondary-color: #fff6ed;
    --tertiary-color: #ff5b2e;
    --heading-color: #000958;
    --content-color: #656689;
    --sub-title-color: #48496a;
}

/* ------------------- Common ---------------- */
.content {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}

.btn {
    display: inline-block;
    padding: 19px 20px;
    width: 214px;
    max-width: 214px;
    max-height: 56px;
    border-radius: 31px;
    border: 1px solid var(--tertiary-color);
    color: var(--tertiary-color);
    text-align: center;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1;
}

.heading {
    color: var(--heading-color);
    font-family: var(--heading-font);
    font-weight: 700;
    line-height: 1.19;
    font-size: 5.2rem;
}

.label {
    color: #5e6085;
    font-family: Sora;
    font-size: 1.6rem;
    font-weight: 600;
}

.section-desc {
    color: var(--content-color);
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.875;
}

.content-desc {
    color: #656689;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.71;
}

/* ---------------------- Header --------------------- */
.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 28px 0;
}

.navbar__list {
    display: flex;
    gap: 36px;
}

.navbar__link {
    color: #5e6085;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1;
    padding: 8px;
}

.navbar__link:hover {
    color: #000958;
    text-shadow: 1px 0 0 currentColor;
}

.btn-header {
    width: 117px;
    border-radius: 25px;
    border: 1px solid #000958;
    color: #000958;
    text-align: center;
    font-size: 1.4rem;
    font-weight: 600;
}

/* --------------------------- Hero ----------------------- */
/* Hero Media */
.hero {
    margin-top: 72px;
}

.hero__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-content: space-between;
}

.hero__media {
    display: flex;
}

.hero__img-wrap {
    width: 388px;
    height: 488px;
    border-radius: 16px;
    background: #fe997b;
    border: 3px solid #fff;
    display: flex;
    align-items: flex-end;
    position: relative;
}

.hero__img {
    object-fit: cover;
    max-width: 100%;
    max-height: 100%;
}

.hero__decor {
    z-index: -1;
    position: absolute;
}

.hero__decor--circle {
    left: -58px;
    bottom: 9.5px;
}

.hero__decor--square {
    top: 16.66px;
    right: -39.5px;
}

.hero__img-wrap--small {
    display: flex;
    align-items: flex-end;
    width: 186px;
    height: 244px;
    border-radius: 16px;
    background: #faa7ad;
    border: 2px solid rgba(255, 255, 255, 0.65);
    align-self: flex-end;
    margin-left: -24px;
    margin-bottom: -58px;
    position: relative;
}

.hero__label {
    width: 250px;
    height: 156px;
    border-radius: 10px;
    background: #fff;
    box-shadow: -17px 14px 68px -4px rgba(207, 174, 132, 0.25);
    padding: 20px 14px;
    align-self: flex-end;
    margin-left: -422px;
    margin-bottom: -94px;
    position: relative;
}

.hero__item {
    display: flex;
    align-items: center;
    gap: 10px;
}

.hero__label-img-wrap {
    width: 40px;
    height: 40px;
    border-radius: 10px;
    display: flex;
    align-items: flex-end;
}

.hero__label-img-wrap--top {
    background: #fec23f;
}

.hero__label-img-wrap--bottom {
    background: #c6e2fa;
}

.hero__label-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: inherit;
}

.hero__label-title {
    color: #181e52;
    font-family: "Sora";
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 600;
}

.hero__line {
    border-radius: 10px;
    opacity: 0.08;
    height: 4px;
    width: 118px;
    opacity: 0.08;
    background: #000958;
    margin-top: 7px;
}

.hero__line--short {
    width: 39px;
    margin-top: 6px;
}

.hero__label-separate {
    width: 222px;
    height: 2px;
    background: #f2f2f2;
    margin: 20px 0;
}

/* Hero content */
.hero__heading {
    width: 517px;
    font-size: 6.6rem;
    line-height: 800;
    line-height: 1.16;
}

.hero__desc {
    width: 391px;
    margin-top: 24px;
}

.hero__actions {
    margin-top: 38px;
    display: flex;
    align-items: center;
    gap: 24px;
}

.hero__btn {
    width: 189px;
    height: 60px;
    border-radius: 31px;
    background: #ff5b2e;
    box-shadow: 0 13px 26px -8px rgba(255, 91, 46, 0.42);
    color: #fff;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    border: none;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 0 30px;
}

.hero__btn-icon-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    border-radius: 20px;
    background: #fffaf5;
    box-shadow: 4px 3px 10px -1px rgba(191, 41, 0, 0.4);
}

.hero__schedule {
    color: var(--heading-color);
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 500;
    text-decoration: underline;
}

/* ------------------------- About ----------------------- */
/* About content */
.about {
    margin-top: 207px;
}

.about__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.about__heading {
    margin-top: 15px;
    max-width: 446px;
}

.about__desc {
    margin-top: 24px;
    max-width: 431px;
}

.about__list {
    margin-top: 54px;
    display: grid;
    grid-template: repeat(2, auto) / repeat(2, auto);
    gap: 34px 36px;
}

.about__item {
    display: flex;
    align-items: center;
    gap: 10px;
}

.about__list-title {
    color: #48496a;
    font-size: 1.8rem;
    font-weight: 500;
}

.about__icon-wrap {
    width: 24px;
    height: 24px;
    background: #ff5d31;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    box-shadow: 0 4px 15px -3px rgba(255, 93, 49, 0.69);
}

/* About media */
.about__media {
    position: relative;
}

.about__card {
    max-width: 136px;
    border-radius: 10px;
    background: #5bd6e2;
    box-shadow: -15px 26px 48px 0 rgba(85, 240, 255, 0.17);
    padding: 30px 26px;
    position: absolute;
    top: 165px;
    left: -92px;
    z-index: 1;
}

.about__yoe {
    color: #fff;
    text-align: center;
    font-family: Sora;
    font-size: 4.2rem;
    font-weight: 700;
    line-height: 1;
}

.about__card-desc {
    display: inline-block;
    max-width: 83px;
    color: #c6f4f9;
    text-align: center;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.42;
    margin-top: 14px;
}

.about__card-decor {
    position: absolute;
    top: -38px;
    right: -30px;
}

.about__img-wrap {
    width: 494px;
}

.about__img-wrap::after {
    content: "";
    display: block;
    height: 336px;
    width: inherit;
    border-radius: 16px;
    background: linear-gradient(180deg, #fce0ef 0%, #fac3d1 100%);
    box-shadow: 11px 18px 65px 0 rgba(255, 155, 121, 0.12);
    position: absolute;
    z-index: -1;
    bottom: 0;
}

.about__img {
    display: block;
    margin: 0 auto;
    width: 450px;
}

.about__decor-1 {
    position: absolute;
    top: 157px;
    right: -51px;
    z-index: -1;
}

/* ------------------------ Feature ---------------------- */
.about-feature {
    margin-top: 140px;
}

.about-feature__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Feature Media */
.about-feature__img-wrap {
    width: 458px;
    height: 500px;
    border-radius: 18px;
    border: 2px solid #fff;
    background: linear-gradient(180deg, #c6e2fa 0%, #94c2ea 100%);
    box-shadow: 0 17px 77px -8px rgba(190, 165, 139, 0.17);
    position: relative;
}

.about-feature__img {
    width: 100%;
}

.about__decor-2 {
    top: -16px;
    right: 13px;
    position: absolute;
}

.about__decor-3 {
    position: absolute;
    top: 12.5px;
    right: 63.16px;
}

.about__decor-4 {
    position: absolute;
    top: 33px;
    right: -21px;
}

.about__decor-5 {
    position: absolute;
    right: -33px;
    bottom: 206.5px;
}

.about__decor-6 {
    position: absolute;
    bottom: 150px;
    right: 19px;
}

.about__decor-7 {
    position: absolute;
    bottom: -54.58px;
    right: -42px;
}

/* Feature content */
.about-feature__heading {
    max-width: 543px;
}

.about-feature__desc {
    max-width: 511px;
    margin-top: 24px;
}

.about-feature__list {
    margin-top: 52px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.about-feature__list::after {
    content: "";
    display: block;
    width: 557px;
    height: 2px;
    opacity: 0.07;
    background: #ff5b2e;
    position: absolute;
    bottom: -10px;
}

.about-feature__tab {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

.about-feature__tab--active {
    position: relative;
}

.about-feature__tab--active::after {
    content: "";
    display: block;
    width: 95px;
    height: 2px;
    background: #ff5b2e;
    position: absolute;
    bottom: -10px;
}

.about-feature__icon {
    width: 20px;
    height: 20px;
}

.about-feature__title {
    color: #48496a;
    font-family: Sora;
    font-size: 1.8rem;
    font-weight: 600;
}

.about-feature__list-desc {
    margin-top: 46px;
    max-width: 391px;
}

.about-feature__more {
    color: #ff5d31;
    font-size: 1.6rem;
    font-weight: 500;
    display: block;
    margin-top: 32px;
    position: relative;
}

.about-feature__more::after {
    content: "";
    display: block;
    width: 86px;
    height: 1.5px;
    background: #ff5d31;
    border-radius: 1px;
    position: absolute;
    bottom: -10px;
}

/* ------------------------- Service ---------------------- */
/* Service card */
.service {
    background: var(--secondary-color);
    padding: 68px 0 100px;
    margin-top: 130px;
}

.service__label {
    text-align: center;
}

.service__heading {
    text-align: center;
    margin-top: 15px;
}

.service__body {
    margin-top: 71px;
    display: grid;
    grid-template-columns: auto 1fr auto;
}

.service__card {
    width: 294px;
    border-radius: 10px;
    border: 2px solid rgba(255, 188, 122, 0.26);
    background: #fff;
    padding: 30px 22px 30px 28px;
    cursor: pointer;
}

.service__card-title {
    color: #000958;
    font-family: Sora;
    font-size: 2.2rem;
    font-weight: 600;
    display: flex;
    align-items: center;
    gap: 12px;
}

.service__card-title::before {
    content: "";
    display: block;
    width: 2px;
    height: 22px;
    background: linear-gradient(90deg, #ff5b2e 0.39%, #ffa187 100.29%);
}

.service__desc {
    margin-top: 18px;
}

.service__more {
    display: block;
    margin-top: 24px;
    color: #34396a;
    font-family: Sora;
    font-size: 1.2rem;
    font-weight: 400;
    display: flex;
    align-items: center;
    gap: 6px;
}

.service__more::after {
    content: url(../icon/ArrowUpRight.svg);
}

.service__card + .service__card {
    margin-top: 24px;
}

/* Service media */
.service__media {
    margin-top: 17px;
}

.service__img-wrap {
    display: flex;
    align-items: flex-end;
    position: relative;
    justify-content: center;
    z-index: 0;
}

.service__img-wrap::after {
    content: "";
    display: block;
    width: 410px;
    height: 350px;
    border-radius: 10px;
    background: linear-gradient(180deg, #9df1fb 0%, #73d0db 108.14%);
    position: absolute;
    z-index: -1;
}

.service__img {
    width: 447px;
}

.service__btn-wrap {
    margin-top: 45px;
    display: flex;
    justify-content: center;
}

.service__btn {
    max-width: 214px;
}

/* -------------------------- Staff ------------------------ */
.staff {
    margin: 130px 0px;
}

.staff__label {
    text-align: center;
}

.staff__heading {
    text-align: center;
    margin-top: 15px;
}

.staff__avt-row {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 35px;
    margin-top: 59px;
}

.staff__avt-wrap {
    position: relative;
    margin: 0 16px;
    border-radius: 129.5px;
}

.staff__avt-wrap::before {
    content: "";
    display: block;
    position: absolute;
    bottom: 0px;
    z-index: -1;
    width: 100%;
    height: 94%; /* thích ứng cho nhiều màn hình */
    border-radius: inherit;
}

.staff__item:nth-child(1) .staff__avt-wrap::before {
    background: linear-gradient(180deg, #90ccff 0%, #59a8eb 95.96%);
}
.staff__item:nth-child(1) .staff__avt-wrap::after {
    background-image: url(../icon/staff-blue-decor.svg);
}

.staff__item:nth-child(2) .staff__avt-wrap::before {
    background: linear-gradient(180deg, #ff997e 0%, #f3752e 100%);
}
.staff__item:nth-child(2) .staff__avt-wrap::after {
    background-image: url(../icon/staff-red-decor.svg);
}

.staff__item:nth-child(3) .staff__avt-wrap::before {
    background: linear-gradient(180deg, #fabf3e 0%, #ffa14a 100%);
}
.staff__item:nth-child(3) .staff__avt-wrap::after {
    background-image: url(../icon/staff-yellow-decor.svg);
}

.staff__item:nth-child(4) .staff__avt-wrap::before {
    background: linear-gradient(180deg, #5bd6e2 0%, #00a7cc 100%);
}
.staff__item:nth-child(4) .staff__avt-wrap::after {
    background-image: url(../icon/staff-cyan-decor.svg);
}

/* Thay content thành background-image để căn chỉnh
kích thước cho icon (nếu để không thì chỉ ảnh hưởng đến ::after)
-> thêm content cho after và chỉnh kích thước để thích ứng trên
nhiều màn hình */

.staff__avt-wrap::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0;
    width: calc(100% + 36px);
    height: 100%;
    transform: translateX(-50%);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 100%;
}

.staff__item:nth-child(even) .staff__avt-wrap::after {
    background-position: 0 16px;
}

.staff__avt {
    width: 100%;
    border-radius: inherit;
}

.staff__job {
    margin-top: 34px;
    display: block;
    text-align: center;
    line-height: 1;
}

.staff__name {
    margin-top: 14px;
    color: #000958;
    text-align: center;
    font-family: Sora;
    font-size: 2.2rem;
    font-weight: 600;
}

.staff__btn-wrap {
    display: flex;
    justify-content: center;
    margin-top: 48px;
}

.staff__btn {
    max-width: 193px;
}
