* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

html {
    font-size: 62.5%;
    font-family: "Poppins", "Sans-serif";
}

input,
textarea,
select,
button {
    font-family: inherit;
    font-size: inherit;
}

:root {
    --heading-font: "Sora";
    --primary-color: #fffaf5;
    --secondary-color: #fff6ed;
    --tertiary-color: #ff5b2e;
    --heading-color: #000958;
    --content-color: #656689;
    --sub-title-color: #48496a;
}

/* Common */
.content {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}

.btn {
    display: inline-block;
    padding: 19px 20px;
    width: 214px;
    max-width: 214px;
    max-height: 56px;
    border-radius: 31px;
    border: 1px solid var(--tertiary-color);
    opacity: 0.6;
    color: var(--tertiary-color);
    text-align: center;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1;
}

.heading {
    color: var(--heading-color);
    font-family: var(--heading-font);
    font-weight: 700;
    line-height: 1.19;
    font-size: 5.2rem;
}

.label {
    color: #5e6085;
    font-family: Sora;
    font-size: 1.6rem;
    font-weight: 600;
}

.section-desc {
    color: var(--content-color);
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.875;
}

.content-desc {
    color: #656689;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.71;
}
